/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* ====== Custom properties ====== */
:root {
  /* Colors */
  --par-clr: hsl(0, 36%, 70%);
  --email-error-clr: hsl(0, 93%, 68%);
  --coming-clr: hsl(0, 6%, 24%);
  --mobile-grad: linear-gradient(135deg,
      hsl(0, 0%, 100%), 
      hsl(0, 100%, 98%));
  --submit-grad: linear-gradient(135deg, 
      hsl(0, 80%, 86%), 
      hsl(0, 74%, 74%));
  /* Font */
  --ff: 'Josefin Sans', sans-serif;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semiBold : 600;
}

/* ====== Style ====== */
body {
  height: min-content;
  font-family: var(--ff);
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ====== Main ====== */
.container {
  max-width: 90rem;
}

/* ====== Logo ====== */
.logo {
  max-width: 10rem;
  padding: 2rem;
}

/* ====== Portrait ====== */
.cover {
  width: fit-content;
  margin-inline: auto;
}

/* ====== Content ====== */
.content {
  background: var(--mobile-grad);
  padding-block: 4rem;
  padding-inline: 2rem;
  text-align: center;
}

.empty-title {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
}

.title-one,
.title-two {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.75rem;
  line-height: 1.1;
}

.title-one {
  font-weight: var(--fw-light);
  color: var(--par-clr);
}

.title-two {
  font-weight: var(--fw-semiBold);
  color: var(--coming-clr);
}

.description {
  font-size: 0.875rem;
  font-weight: var(--fw-regular);
  color: var(--par-clr);
  padding-block: 1rem;
}

/* ====== Email form ====== */
.email-form {
  padding-block: 1rem 0;
}

.mail-component {
  position: relative;
}

#typeEmail {
  background: transparent;
  border: 1px solid var(--par-clr);
  border-radius: 2rem;
  padding: 0.75rem 1.5rem;
  width: 100%;
}

#typeEmail::placeholder {
  color: var(--par-clr);
  opacity: 0.5;
  font-size: 0.875rem;
}

.error-icon {
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  height: fit-content;
  right: 7rem;
}

.send-email {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border-radius: 2rem;
  padding-inline: 1.75rem;
  border: none;
  background: var(--submit-grad);
  box-shadow: 0px 0px 20px -10px black;
}

.email-error {
  visibility: hidden;
  color: var(--email-error-clr);
  margin-inline-start: 1.75rem;
  margin-block-start: 0.5rem;
  font-size: 0.825rem;
}

/* ====== Active status ====== */
.send-email:hover {
  filter: brightness(1.25);
  box-shadow: 0px 0px 30px -10px black;
  transition: filter 0.25s ease-in-out,
  box-shadow 0.25s ease-in-out;
  cursor: pointer;
}

/* ====== Desktop view ====== */
@media screen and (min-width: 768px) {

  body {
    min-height: 100%;
  }

  /* ====== Main ====== */
  .container {
    display: grid;
    grid-template-areas: 
    "logo cover"
    "content cover";
    grid-template-columns: 1.36fr 1fr;
    background-image: url(images/bg-pattern-desktop.svg);
  }

  /* ====== Logo ====== */
  .logo {
    max-width: unset;
    height: min-content;
    padding-block: 4rem;
    padding-inline: 10rem;
  }

  /* ====== Portrait ====== */
  .cover {
    grid-column: 2;
    grid-row: 1/5;
  }

  .cover img {
    min-height: 50rem;
    object-fit: cover;
  }

  /* ====== Content ====== */
  .content {
    padding-inline: 10rem;
    background: unset;    
    text-align: left;
    grid-row: 2/5;
    margin-inline-end: 5rem;
  }

  .title-one,
  .title-two {
    font-size: 4rem;
  }

  .description {
    font-size: unset;
    padding-block: 1.25rem;
    line-height: 1.75;
  }

  /* ====== Email form ====== */
  .email-form {
    padding-block: 1.25rem;
  }

  #typeEmail {
    padding: 1rem 1.75rem;
  }

  #typeEmail::placeholder {
    font-size: unset;
  }

  .send-email {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
  }
}